<!DOCTYPE html> 
<html lang="en">
  <head> 
    <meta  charset ="UTF-8"> 
    <title> record_webssh_play </title> 
    <link  rel ="stylesheet"  href ="/static/super_cmdb/css/font.css"> 
    <link  rel ="stylesheet"  href ="/static/super_cmdb/css/xadmin.css"> 
    <link  rel ="stylesheet"  type ="text/css"  href ="/static/super_cmdb/css/asciinema-player.css"/> 

  </head> 
  
  <body  class ="layui-anim layui-anim-up" > 
    <div  class ="x-nav" > 
      <span  class ="layui-breadcrumb" > 
        <a  href ="" > front page </a> 
        <a  href ="" > user list </a> 
        <a> 
          <cite> Navigation element </cite></a> 
      </span> 
      <a  class ="layui-btn layui-btn-small"  style ="line-height:1.6em;margin-top:3px;float:right"  href ="javascript:location.replace(location.href);"  title ="刷新" > 
        <i  class ="layui-icon"  style ="line-height:33px" > ဂ </i ></a> 
    </div> 
    <div  class ="x-body"> 

        <asciinema-player  title ="录像回放"  speed ="1.5"  autoplay author ="xxxx"  author-img-url ="/static/super_cmdb/images/bg.png"  src ="/static/webssh/record_webssh/2022-10-09_1235_192.168.248.128_root.cast" ></asciinema-player> 

    </div> 
    <script  type ="text/javascript"  src ="/static/super_cmdb/js/jquery.min.js" ></script> 
    <script  type ="text/javascript"  src ="/static/super_cmdb/lib/layui/layui.js"  charset ="utf-8" ></script> 
    <script  type ="text/javascript"  src ="/static/super_cmdb/js/xadmin.js" ></script> 
    <script  src ="/static/super_cmdb/js/asciinema-player.js" ></script> 
  </body> 

</html> 